 
/* @Author: guanlin
* @Date:   2016-12-29 11:54:43
* @Last Modified by:   Marte
* @Last Modified time: 2017-01-04 18:34:26
*/

#gl_warp{
    width:100%;
    margin:0 auto;
    padding: 0.35rem 0.25rem 0 0.25rem;
    box-sizing: border-box;
}
/*内容以上*/
.gl_top{
    width:100%;
    height:3.14rem;
    margin:0 auto;
    display:flex;
}
.gl_top_left{
    border-radius: 0.05rem;
    border:2px solid #fff;
    box-shadow: 0.005rem 0.00866rem 0.05rem 0 rgb( 204, 202, 202 );
    width: 2.29rem;
    height: 3.11rem;
    overflow:hidden;
}
.gl_top_left img{
    width:100%;
    height:3.11rem;
}
.gl_top_right{
    margin-left: 0.14rem;
    width:4.51rem;
    height:100%;
}
.gl_snow{
    display: block;
    font-weight: bold;
    font-size: .36rem;
    line-height: 0.38rem;
    float:left;
    color: #585656;
}
.gl_snowtop span{
    display:block;
    float:left;
    width:0.6rem;
    margin-left: 0.23rem;
    height:0.38rem;
    background:url(../../images/gl_images/gl_yh.png)no-repeat;
    background-size:0.6rem auto;
}
.gl_snowtop{
    width:100%;
    margin-top: 0.13rem;
}
.gl_clearfix:after{
    content: "";
    display:block;
    clear:both;
}
.gl_snowbot i{
    font-weight: bold;
    font-size: .36rem;
    line-height: 0.38rem;
    color: #585656;
}
.gl_bl{
    margin: 0.15rem 0.1rem 0 0.15rem;
    height:.37rem;
    width:100%;
    color:#7c7a7a;
}
.gl_bl i{
    display:block;
    width:1.18rem;
    height:100%;
    background:url(../../images/gl_images/gl_bl.png)no-repeat;
    background-size: 1.18rem auto;
    float:left;
}
.gl_bl span{
    float:left;
    margin-left: 0.15rem;
    font-size: 0.3rem;
    line-height: .37rem;
}
.gl_zuozhe{
    margin-top:0.3rem;
    margin-left: 0.15rem;
    font-size: 0.24rem;
    color:#7c7a7a;
}
.gl_zuozhe span{
    display:block;
}
/*按钮*/
.gl_btnbox{
   box-sizing: border-box;
    width:100%;
    margin:0 auto;
     margin-top: 0.2rem;
    display:flex;
    height:auto;
    overflow: hidden;
    justify-content: space-between;
}
.gl_btn{
    width:2.17rem;
    height:.79rem;
    padding:.2rem .4rem;
    box-sizing: border-box;
    border-radius: 39px;
    border:2px solid #e1dfdf;
    background:#fff;
}
.gl_ii{
    width:0.5rem;
    height:0.4rem;
    background:url(../../images/gl_images/bg.png)no-repeat;
    background-size: 1rem auto;
    float:left;
}
.gl_ii1{
    background-position: -0.45rem -0.99rem;
}
.gl_ii2{
    background-position: -0.48rem -0.52rem;
}
.gl_ii3{
    background-position: -0.47rem -1.55rem;
}
.gl_eng{
    float:right;
    text-align: center;
    width:.8rem;
    height:auto;
    overflow:hidden;
}
.gl_che{
    display:block;
    line-height: 0.36rem;
    font-size: 0.2rem;
    color:#b2b3b4;
}
.gl_engl{
    display:block;
    white-space: nowrap;
    word-wrap: break-word;
    font-size: 0.02rem;
    color:#c9caca;
}
/*按钮完*/

/*内容以上完*/
/*内容*/
.gl_content{
  margin:0 auto;
  margin-top: 0.2rem;
  width: 6.99rem;
  min-height: 3.12rem;
  height:auto;
  background:#fff;
  box-shadow: 0.5px 0.866px 5px 0px rgb( 208, 208, 208 );
  border-radius: 5px;
}
.gl_con{
    width:6.8rem;
    height:100%;
    margin:0 auto;
}
.gl_title{
    width:auto;height:auto;
    overflow:hidden;
}
.gl_content h2{
    width:auto;
      font-size: .26rem;
      color: rgb( 66, 66, 67 );
      line-height: 1.5;
      float:left;
}
.gl_dian{
    width:0.05rem;
    height:0.05rem;
    border-radius: 50%;
    margin-top: 0.28rem;
    background-color: rgb( 254, 23, 121 );
     float:left;
     margin-left: 0.04rem;
}
.gl_cont{
    margin-top: .25rem;
}
.gl_cont img{
    width:0.29rem;height:0.18rem;
}
.gl_cont img:last-of-type{
    float:right;
}
.gl_cont p{
    padding:0.1rem 0.2rem;
    font-size: 0.24rem;
    line-height:1.25;
    color: rgb( 108, 108, 109 );
}
.gl_bottom{
    height:0.85rem;
    width:6.2rem;
    margin:0 auto;
}
.gl_bottleft{
    float:left;
}
.gl_zan{
    width:auto;height:auto;
    overflow:hidden;
    float:left;
}
.gl_zan i{
    display:block;
    width:0.5rem;height:0.5rem;
    background:url(../../images/gl_images/bg.png)no-repeat;
    background-size: 1rem auto;
    float:left;
}
.gl_zan span{
   font-size: .24rem;
  color: rgb( 90, 90, 89 );
  font-weight: bold;
  font-variant: small-caps;
  line-height: 0.5rem;
  margin-left: 0.1rem;
}
.gl_pl{
    margin-left:0.2rem;
}
.gl_pl i{
    background-position: -0.5rem 0;
}
.gl_bottright{
    float:left;
    margin-left: 0.85rem;
}
.gl_bottright img{
    width:0.6rem;height:0.6rem;
    margin-left: -0.3rem;float:left;
    border-radius: 50%;
}
.gl_bottright i{
    font-style: normal;
    display:block;
    width:0.6rem;height:0.6rem;
    margin-left: -0.3rem;
    background:#898888;
    border:1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 0.6rem;
    color:#D1CECE;
    float:left;
}
/*内容结束*/
/*立即阅读*/
.gl_ljyd{
  margin:0 auto;
  width: 7.02rem;
  height: 1.02rem;
  margin-top: 0.13rem;
  background:#2B75FF; 
}
.gl_ljyd a{
  display:block;
  width:100%;height:100%;
  color:#fff;
  font-size: .36rem;
  text-align: center;
  line-height:1.02rem;
}
/*立即阅读*/
/*同类推荐*/
.gl_tltj{
    width:7.02rem;
    height:auto;
    overflow:hidden;
    margin:0 auto;
    margin-top: .38rem;
}
.gl_gl_tl{
    width:auto;height:auto;
    overflow:hidden;
}
.gl_gl_tl i{
    display:block;
    width:.55rem;height:.47rem;
    float:left;
    background:url(../../images/gl_images/dan.png);
    background-size: .55rem .47rem;
}
.gl_gl_tl span{
    font-size: .34rem;
  color: rgb( 55, 56, 56 );
  font-weight: bold;
  font-variant: small-caps;
  float:left;margin-left: 0.1rem;
}
.gl_tltjcon{
     width:100%;
     height:auto;
     overflow:hidden;
}
.ld_tuijian{
    width:7.02rem;
    height:1.75rem;
    background:#fff;
    border-radius: .05rem;
    padding:.08rem .23rem .08rem .1rem;
    box-sizing: border-box;
    margin:0 auto;
    margin-bottom:.13rem; 
    overflow:hidden;
        text-align: left;
        background:#fff;
}
.ld_tuijiana{
  display:block;
  width:100%;height:100%;
}
.gl_nnleft{
  border-width: 1px;
  border-color: rgb( 223, 223, 223 );
  border-style: solid;
  box-shadow: 0.005rem 0.00866rem .05rem 0 rgb( 213, 211, 212 );
  width: 1.29rem;
  height: 1.56rem;
  float:left;
  overflow:hidden;
}
.gl_nnleft img{
  height:100%;
  width:100%;
}
.gl_nnright{
    float:right;
    width:5.1rem;
    height:100%;
}
.gl_nntop{
    width:100%;
    /*height:0.7rem;*/
    overflow:hidden;
    border-bottom: 1px dashed #d4d6d5;
}
.gl_nntop h1{
  width:1.4rem;
  font-size: .34rem;
  font-weight: normal;
  color: rgb( 39, 40, 40 );
  line-height: 1.059;
  display:inline-block;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.gl_nntop h2{
     width: 1.22rem;
     display: inline-block;
     color: green;
     font-size: 0.24rem; 
     background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(170, 247, 103, 1)), to(rgba(126, 254, 218, 1)));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     white-space: nowrap;
     overflow:hidden;
     text-overflow: ellipsis;
}
.gl_nntop img{
      width: .42rem;
      height: .42rem;
      border-radius: 50%;
      float:right;
       margin-right: 0.1rem;
}
.gl_nntop h3{
  width:1.5rem;
  height:.42rem;
  line-height:.42rem;
  display:inline-block;
  font-size: .24rem;
  font-family: "SanFranciscoDisplay";
  color: rgb( 157, 159, 159 );
  -moz-transform: matrix( 1.00000003224249,0,0,1,0,0);
  -webkit-transform: matrix( 1.00000003224249,0,0,1,0,0);
  -ms-transform: matrix( 1.00000003224249,0,0,1,0,0);
  float:right;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.gl_star{
    clear:both;
    width:1.1rem;
    height:.32rem;
}
.gl_star1{
    width:.19rem;height:100%;
    background:url(../../images/gl_images/star.png) no-repeat 0 0.06rem;
    float:left;
    background-size: .34rem .17rem;
}
.gl_nnbottom p{
  font-size: .18rem;
  color: rgb( 89, 90, 90 );
  line-height: 2;
}
.gl_zz{
    float:right;
    width:0.4rem;height:.4rem;
    background:url(../../images/gl_images/taoxin.png)no-repeat -.4rem;
    background-size: .76rem .36rem;
    margin:-.4rem 1.2rem 0 0;
}
.gl_zz a{
  display:block;
  width:100%;height:100%;
}
.gl_plpl{
    float:right;
    width:0.4rem;height:.4rem;
    background:url(../../images/gl_images/taoxin.png)no-repeat;
    background-size: .76rem .36rem;
    margin:-.4rem .2rem 0 0;
}
/*同类推荐结束*/