/*支付外框开始*/
	.yhp_passpay_box{
		width: 100%;
		height: auto;
		margin: 0 auto;
		background: #EDEBEC;
	}
/*密码支付头部开始*/
	.yhp_passpay_up{
		width: 7.50rem;
		height: 0.90rem;
		margin: 0 auto;
		background: #fff;
		padding-left: 0.24rem;
		padding-right: 0.11rem;
		box-sizing:border-box;
	}
	.yhp_passpay_up:after{
		content: "";
		display: block;
		clear: both;
	}
	.yhp_passpay_up button{
		border: none;
		outline: none;
	}
	.yhp_passpay_back{
		width: 0.90rem;
		height: 0.90rem;
		background:url(../../../images/yhp_images/yhp_backbtn.png) no-repeat left center;
		background-size: 0.63rem 0.49rem;
		float: left;
	}
	.yhp_passpay_title{
		width: 5.22rem;
		height: 0.90rem;
		float: left;
	}
	.yhp_passpay_title p{
		text-align: center;
		padding: 0;
	}
	.yhp_passpay_titleup{
		color: #484747;
		height: 0.40rem;
		line-height: 0.40rem;
		font-size: 0.3634rem;
		margin-top: 0.10rem;
	}
	.yhp_passpay_titlebot{
		color: #8d8a8b;
		font-size: 0.2086rem;
		height: 0.20rem;
		line-height: 0.20rem;
	}
	.yhp_passpay_search{
		width: 0.90rem;
		height: 0.90rem;
		background:url(../../../images/mjh/sy-mjh_08.png) no-repeat right center;
		background-size: 0.81rem 0.87rem;
		float: right;
	}
/*密码支付头部结束*/

/*密码支付主体开始*/
	.yhp_passpay_inner{
		width: 100%;
		height: auto;
		margin: 0 auto;
		margin-top:0.20rem;
	}

/*密码支付银行卡循环开始*/
	.yhp_passpay_swiper{
		width: 100%;
		height: 3.65rem;
		background: white;

	}
	.swiper-container {
	        width: 6.22rem;
	        height: 3.65rem;
	        margin: 0 auto;
	}
	.swiper-slide {
	    text-align: center;
	    font-size: 18px;
	    /* Center slide text vertically */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	}
	.swiper-slide img{
		width: 6.22rem;
		height: 3.65rem;
		border: none;
	}
/*密码支付银行卡循环结束*/

/*密码支付提示语开始*/
	.yhp_passpay_tipup{
		color: #3f3f3f;
		font-size: 0.30rem;
		text-align: center;
		font-weight: bold;
		font-family: "宋体";
		margin-top: 0.34rem;
	}
	.yhp_passpay_space{
		display: block;
		width: 6.70rem;
		height: 0.08rem;
		background:url(../../../images/yhp_images/yhp_passpay_space.png) no-repeat center;
		margin: 0.04rem auto;
	}
	.yhp_passpay_tipbot{
		color: #8e8e8e;
		font-size: 0.20rem;
		text-align: center;
	}
/*总额显示区域开始*/
	.yhp_passpay_count{
		width: auto;
		height: auto;
		margin-top: 0.39rem;
	}
	.yhp_passpay_money{
		display: block;
		width: auto;
		height: 0.56rem;
		line-height:0.56rem; 
		font-size: 0.7266rem;
		color: #2c98ff;
		text-align: center;
	}
	.yhp_passpay_unit{
		display: block;
		font-style:normal;
		height: 0.38rem;
		line-height: 0.38rem;
		font-size: 0.4017rem;
		color: #2c98ff;
		text-align: center;
		margin-top: 0.27rem;
	}
/*总额显示区域结束 */
/*输入密码开始*/
	.yhp_passpay_text{
		display: block;
		width: 4.68rem;
		height: 0.72rem;
		background:url(../../../images/yhp_images/yhp_passpay_text.png) no-repeat center bottom;
		margin: 0 auto;
		border: none;
		outline: none;
		letter-spacing: 0.6rem;	
		margin-top: 0.25rem;
		margin-bottom: 0.38rem;

	}
/*输入密码结束*/
/*密码支付提示语结束*/

/*密码支付主体结束*/