<!-- 同类推荐列表 -->
<li ng-controller="bookcover" class="ld_tuijian gl_clearfix" ng-repeat="v in tltuijian track by $index">
    <div class="gl_nnleft">
        <a href="#/show" class="ld_tuijiana"><img src="{{v.bookcover}}"alt="" /></a>
    </div>
    <div class="gl_nnright">
        <div class="gl_nntop">
            <a href="#/show" class="ld_tuijiana">
                <h1>{{v.title}}</h1>
                <h2>{{v.titleenglish}}</h2>
                <h3>{{v.author}}</h3>
                <img src="{{v.photo}}" alt="" />
            </a>
            <div class="gl_star">
                <div class="gl_star1"></div>
                <div class="gl_star1"></div>
                <div class="gl_star1"></div>
                <div class="gl_star1"></div>
                <div class="gl_star1"></div>
            </div>
        </div>
        <div class="gl_nnbottom">
            <p>{{v.contain}} </p>
            <div class="gl_zz"><a href="#/comment"></a></div>
            <div class="{{v.xin_show?'gl_plpl zlf_pl active':'gl_plpl zlf_pl'}}" ng-click="xinshow(v)"></div>
        </div>
    </div>
</li>