/*注册成功最外框开始*/
	.yhp_cache_box{
		width: 100%;
		height: auto;
		height:100%;
		margin: 0 auto;
		background: rgba(234,234,234,0.8);
		transform:scale(0);
		transition: transform .35s;
		position:fixed;
		left:0;top:0;
		z-index: 100;
	}
	.ld_catch_box{
		transform:scale(1);
	}
	/*注册成功內宽开始*/
		.yhp_cache_inner{
			width: 7.02rem;
			height:6.00rem;
			background:url("../../../images/yhp_images/yhp_loginfailbg.png") no-repeat center top;
			background-size: 7.02rem 5.55rem;
			position:absolute;
			left:0;top:0;bottom:0;right:0;
			z-index: 102;
			margin:auto;
			padding-top: 1.28rem;
			box-sizing:border-box;
		}
		.yhp_cache_text{
			color: #504e4e;
			font-size: 0.36rem;
			text-align: center;
		}
		.yhp_cache_eng{
			color: #7c7b7b;
			font-size: 0.16rem;
			text-align: center;
			margin-top: 0.08rem;
			font-family: "Tahoma";
		}
		.yhp_cachewave{
			width: 100%;
			height: 0.33rem;
			background:url("../../../images/yhp_images/yhp_loginfail_wave.png") no-repeat center;
			background-size: 1.18rem 0.33rem;
		}
		@keyframes rotate {
		    0%{transform:rotate(0);}100%{transform:rotate(360deg);}
		}
		.yhp_cache_up{
			width: 1.61rem;
			height: 1.61rem;
			margin:auto;
			border-radius: 50%;
			background:url("../../../images/yhp_images/yhp_cache.png") no-repeat center center;
			background-size:100%;
			animation:rotate 1s infinite;
		}
		.yhp_cache_title{
			text-align: center;
			color: #626161;
			font-size: 0.24rem;
			margin-top: 0.16rem;
		}
		.yhp_cachebtn{
			width: 2.45rem;
			height: 1.03rem;
			background: #31363A;
			border-radius: 0.60rem;
			margin: 0 auto;
			margin-top: 0.52rem;
			border: 0.03rem solid #fff;	
		}
		.yhp_cachebtn:after{
			content: "";
			display: block;
			clear: both;
		}
		.yhp_cachesure{
			width: 2.33rem;
			height: 0.90rem;
			background: #1EFD23 url("../../../images/yhp_images/yhp_loginfailspoint.png") no-repeat center;
			background-size: 1.99rem 0.12rem;
			border: none;
			border-radius: 0.60rem;
			margin-top: 0.06rem;
			margin-left: 0.06rem;
			float: left;
			color: #fff;
			font-size: 0.30rem;
			outline: none;
		}
		.yhp_cachecancel{
			width: 2.33rem;
			height: 0.90rem;
			background:url("../../../images/yhp_images/yhp_loginfailfpoint.png") no-repeat center;
			background-size: 1.99rem 0.12rem;
			border: none;
			border-radius: 0.60rem;
			margin-top: 0.06rem;
			margin-left: 0.06rem;
			float: left;
			color: #5e6163;
			font-size: 0.30rem;
			outline: none;
		}
	/*注册成功內宽结束*/
/*注册成功最外框结束*/