/* 
* @Author: Marte
* @Date:   2017-01-03 00:58:18
* @Last Modified by:   Marte
* @Last Modified time: 2017-01-04 17:22:39
*/
/*.ld_friend_con{
    margin-left: 0;
}*/
.ld_special{
    display:block;
    width:.2rem;height:.2rem;
}