    <!-- 书架顶部bar -->
    <div ng-controller="shujia">
        <!-- <shequtopbar personurl="images/ld_images/ld_qz_photo.png" left="发现" right="收藏"></shequtopbar> -->
        <div class="ld_sqtopbar">
            <i class="ld_sq_dian"></i>
            <div class="ld_sq_photo"><a href="#/me"><img src="images/ld_images/ld_qz_photo.png" alt="" /></a></div>
            <ul class="ld_top_cen">
                <li ng-class="{true:'ld_sq_quanzi ld_top_active',false:'ld_sq_quanzi'}[!topFlag]" ng-click="changeQuanzi(true)"><div class="ld_qz_wenzi">发现</div><span></span></li>
                <li ng-class="{true:'ld_sq_shuyou ld_top_active',false:'ld_sq_shuyou'}[topFlag]" ng-click="changeQuanzi(false)"><div class="ld_qz_wenzi">收藏</div></li>
            </ul>
            <div class="ld_sq_rig"><a href="#/search"></a></div>
        </div>
        <!-- 书架-发现 开始-->
        <div class="zlf_container" ng-show="topFlag">
            <!-- find 开始-->
            <div class="zlf_find">
                <div class="zlf_find_title">
                    开始滑动发现你所喜欢的
                </div>
                <img class="zlf_find_tu" src="images/zlf_images/zlf_find.png"  alt="" />
            </div>
            <!-- find 结束 -->
            <!-- swiper 开始 -->
            <shujiafind></shujiafind>
            <!-- swiper 结束 -->
        </div>
        <!-- 书架-发现 结束-->
        <!-- 书架-收藏 开始-->
        <div class="zlf_container" ng-show="!topFlag">
            <div class="zlf_book_box" ng-controller="shujia">
                <shujiabook ng-repeat="v in shujiashoucang track by $index"></shujiabook>
            </div>
            <!-- 想看新书了，逛逛看 -->
            <a href="#/" class="zlf_close_box">
                <div class="zlf_English">STACK_ROOM</div>
                <div class="zlf_Chinese">想看新书了，去逛逛看</div>
                <div class="zlf_close_btn">
                    <img src="images/zlf_images/zlf_close.png" alt="" />
                </div>
                <div class="zlf_go">
                    <img src="images/zlf_images/zlf_go.png" alt="" />
                </div>
            </a>
        </div>
        <!-- 书架-收藏 结束-->
        <!-- 底部tab -->
        <indextab></indextab>
    </div>
        