/*登录界面最外框开始*/
	.yhp_loginland_box{
		width: 100%;
		height: 13.14rem;
		margin: 0 auto;
		background: #EAEAEA;
	}
	/*登录界面內宽开始*/
		.yhp_loginland_inner{
			width: 7.02rem;
			height:100%;
			background: blue;
			margin: 0 auto;
		}
		.yhp_loginlandup{
			width: 100%;
			height: 2.58rem;
			background: url("../../../images/yhp_images/yhp_loginup.png") no-repeat center bottom;
			background-size: 4.11rem 2.36rem;
		}
	/*登录界面內宽结束*/
/*登录界面最外框结束*/