<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <title>爱阅读app</title>
    <link rel="stylesheet" type="text/css" href="../../../css/swiper-3.4.0.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/index.css" />
    <link rel="stylesheet" type="text/css" href="login_mjh.css" />
    <script type="text/javascript" src="../../../js/angular.min.js"></script>
</head>
<body ng-controller='dlc'>
    <div class="mjh-dl-wk">
        <img src="../../../images/yhp_images/yhp_backbtn.png" alt="" class="mjh-dl-fh" />
        <a href="../zlf_zhuce/zhuce.html" class="mjh-dl-tozc">注册</a>
        <img src="../../../images/yhp_images/yhp_loginup.png" alt="" class="mjh-dl-bg1" />
        <img src="../../../images/yhp_images/yhp_loginbottom.png" alt="" class="mjh-dl-bg2" />
        
        <div class="mjh-dlk">
            <!-- 头像 -->
            <div class="mjh-dl-tx" style="background:url(../../../images/yhp_images/yhp_loginheader.png) no-repeat center center/cover;"></div>
            <!-- 输入框 -->
            <img src="../../../images/yhp_images/yhp_user.png" alt="" class="mjh-dl-yht" />
            <img src="../../../images/yhp_images/yhp_pass.png" alt="" class="mjh-dl-mmt" />
            <input type="text" class="mjh-dl-yhm" placeholder='请输入账号'/>
            <input type="password" class="mjh-dl-mm" placeholder='请输入密码'/>
            <div class="mjh-dl-mmc">
                <input type="checkbox" class="mjh-dl-jzmm" />记住密码
                <input type="button" value='找回密码'>
            </div>
            <div class="mjh-sl-sub" >  
            </div>
            <!-- 错误提示 -->
            <div class="mjh-dl-ts">
                <div class="mjh-ts-zs1"></div>
                <div class="mjh-ts-zs2"></div>
                <div class="mjh-ts-ts">当前密码不正确</div>
                <div class="mjh-ts-zs2"></div>
                <div class="mjh-ts-zs1"></div>
            </div>
            <div class="mjh-dl-ts1">
                <div class="mjh-ts-zs1"></div>
                <div class="mjh-ts-zs2"></div>
                <div class="mjh-ts-ts1">当前用户名不存在</div>
                <div class="mjh-ts-zs2"></div>
                <div class="mjh-ts-zs1"></div>
            </div>
            <!-- 第三方登录 -->
            <p class="mjh-dl-sfdl">第三方登录</p>
            <div class="mjh-dl-sftb">
                <a href="##"><img src="../../../images/yhp_images/yhp_qq.png" alt="" /></a>
                <a href="##"><img src="../../../images/yhp_images/yhp_tweet.png" alt="" /></a>
                <a href="##"><img src="../../../images/yhp_images/yhp_chat.png" alt="" /></a>
            </div>
            <!-- 用户选择 -->
            <div class="mjh-dl-yhxz" >
                <a href="##" ng-repeat='v in bdyh track by $index' ng-click='yhdj(v)'>
                    <div><img src="../../../images/yhp_images/yhp_loginheader.png" alt="" /></div>
                    <p>{{v.yhm}}</p>
                </a>
                
            </div>

        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="../../../js/rem.js"></script>
<script type="text/javascript" src="../../../js/zepto.js"></script>
<script type="text/javascript" src="../../../js/touch.js"></script>
<script type="text/javascript"src="../../../js/swiper-3.4.0.min.js"></script>
<script type="text/javascript" src="../zlf_zhuce/zhuce.js"></script>

<script type="text/javascript" src="../../../index.js"></script>

<script type="text/javascript" src="login_mjh.js"></script>