
    <div class="index_contain" ng-controller="shequ">
    <!-- 社区圈子开始 -->
        <!-- 圈子顶部栏开始 -->
        <shequtopbar personurl="images/ld_images/ld_qz_photo.png" left="圈子" right="书友"></shequtopbar>
        <!-- 圈子顶部栏结束 -->
        <!-- 社会圈子下面内容开始 -->
        <div class="ld_qz_condi">
                <!-- 社会圈子 -->
            <div class="ld_shqz_di" ng-show="topFlag">
                <div class="ld_qz_con" ng-repeat="v in sheququanzi track by $index">
                    <div class="ld_qz_contop">
                        <img src="{{v.bgurl}}" alt="" />
                        <div class="ld_qz_label">
                            <span><img src={{v.photourl}} alt="" /></span>
                            <ul class="ld_qz_labelcon"><li>{{v.name}}</li><li class="ld_qz_labelzan"><i></i>{{v.love}}</li></ul>
                        </div>
                    </div>
                    <div class="ld_qz_conbtm">
                        <h4 class="ld_qz_tit">{{v.title}}<span>{{v.titleenglish}}</span></h4>
                        <p class="ld_qz_tit1">{{v.comment}}</p>
                        <div class="ld_qz_dizhi">
                            <div class="ld_dizhi_icon"></div>
                            <div class="ld_dizhi_con">
                                <h4>{{v.city}}<span></span></h4>
                                <h5>{{v.cityenglish}}</h5>
                            </div>
                            <ul class="ld_dizhi_rig">
                                <li><div class="ld_dizhi_num">{{v.zannum}}</div><span class="ld_dizhi_icon1"></span></li>
                                <li><div class="ld_dizhi_num">{{v.commentnum}}</div><span class="ld_dizhi_icon2"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>   
                <!-- 社会书友 -->
            <div class="ld_shsy_di" ng-show="topFlag" ng-controller="shequ">
                <!-- 新增书友 -->
                <shequadd ng-repeat="v in shequadd track by $index"></shequadd>
                <div class="ld_sy_search">
                    <form action=""><input type="text"/></form>
                    <div class="ld_sy_btn"></div>
                </div>
                <div class="ld_sy_haoyou"><span>当前好友数量为</span><span class="ld_haoyou_num">235</span></div>
                <div class="ld_sy_letter"><span>A.</span><span class="ld_sy_ltnum">34</span></div>
                <div class="ld_friend_di">
                    <!-- <div class="ld_friend">
                        <div class="ld_friend_photo"><div class="ld_friend_inner"><img src="images/ld_images/ld_qz_photo.png" height="97" width="109" alt="" /></div></div>
                        <ul class="ld_friend_con">
                            <li class="ld_friend_tit">Aim·<b>Green</b><div class="ld_star"><span></span><span></span><span></span></div><i class="ld_vip">vip</i></li>
                            <li>撸啊撸啊德玛西亚</li>
                            <li class="ld_friend_zs"><i></i><b>TAIYUAN</b>SHANXI</li>
                        </ul>
                        <div class="ld_firend_rig ld_firend_huise"></div>
                    </div> -->
                    <!-- 社区下面好友列表 -->
                    <shequfriend></shequfriend>
                    <ul class="ld_shuzi">
                        <li class="ld_shuzi_active">a</li>
                        <li>b</li>
                        <li>s</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                    </ul>
                </div>
            </div>               
        </div>
        <!-- 社会圈子下面内容结束 -->
    <!-- 社区圈子结束 -->
    </div>