
    <div class="index_contain">
    <!-- 社区圈子开始 -->
        <!-- 圈子顶部栏开始 -->
        <div class="ld_sqtopbar">
            <div class="ld_sq_photo"><img src="images/ld_images/ld_qz_photo.png" alt="" /></div>
            <ul class="ld_top_cen">
                <li ng-class="{true:'ld_sq_quanzi ld_top_active',false:'ld_sq_quanzi'}[topFlag]" ng-click="changeQuanzi()"><div class="ld_qz_wenzi">圈子</div><span></span></li>
                <li ng-class="{true:'ld_sq_shuyou ld_top_active',false:'ld_sq_shuyou'}[!topFlag]" ng-click="changeShuyou()"><div class="ld_qz_wenzi">书友</div></li>
            </ul>
             <div class="ld_sq_rig"></div>
        </div>
        <!-- 圈子顶部栏结束 -->
        <!-- 社会圈子下面内容开始 -->
        <div class="ld_qz_condi">
                <!-- 社会圈子 -->
            <div class="ld_shqz_di" ng-show="!topFlag">
                <div class="ld_qz_con">
                    <div class="ld_qz_contop">
                        <img src="images/ld_images/ld_sq_lis01.png" alt="" />
                        <div class="ld_qz_label">
                            <span><img src="images/ld_images/ld_qz_photo.png" alt="" /></span>
                            <ul class="ld_qz_labelcon"><li>软萌萌</li><li class="ld_qz_labelzan"><i></i>49</li></ul>
                        </div>
                    </div>
                    <div class="ld_qz_conbtm">
                        <h4 class="ld_qz_tit">冬雪<span>the first snow</span></h4>
                        <p class="ld_qz_tit1">秋雨不宜相见，冬雪不能饮醉，从春到冬，一直...</p>
                        <div class="ld_qz_dizhi">
                            <div class="ld_dizhi_icon"></div>
                            <div class="ld_dizhi_con">
                                <h4>太原.小店区<span></span></h4>
                                <h5>taiyuan knick-knacks</h5>
                            </div>
                            <ul class="ld_dizhi_rig">
                                <li><div class="ld_dizhi_num">230</div><span class="ld_dizhi_icon1"></span></li>
                                <li><div class="ld_dizhi_num">230</div><span class="ld_dizhi_icon2"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ld_qz_con">
                    <div class="ld_qz_contop">
                        <img src="images/ld_images/ld_sq_lis01.png" alt="" />
                        <div class="ld_qz_label">
                            <span><img src="images/ld_images/ld_qz_photo.png" alt="" /></span>
                            <ul class="ld_qz_labelcon"><li>软萌萌</li><li class="ld_qz_labelzan"><i></i>49</li></ul>
                        </div>
                    </div>
                    <div class="ld_qz_conbtm">
                        <h4 class="ld_qz_tit">冬雪<span>the first snow</span></h4>
                        <p class="ld_qz_tit1">秋雨不宜相见，冬雪不能饮醉，从春到冬，一直...</p>
                        <div class="ld_qz_dizhi">
                            <div class="ld_dizhi_icon"></div>
                            <div class="ld_dizhi_con">
                                <h4>太原.小店区<span></span></h4>
                                <h5>taiyuan knick-knacks</h5>
                            </div>
                            <ul class="ld_dizhi_rig">
                                <li><div class="ld_dizhi_num">230</div><span class="ld_dizhi_icon1"></span></li>
                                <li><div class="ld_dizhi_num">230</div><span class="ld_dizhi_icon2"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>   
                <!-- 社会书友 -->
            <div class="ld_shsy_di" ng-show="topFlag">
                <div class="ld_shuyou">
                    <div class="ld_sy_photo"><img src="images/ld_images/ld_photo01.png" alt="" /></div>
                    <ul class="ld_sy_add">
                        <li class="ld_sy_addtit">新增好友<span></span><span class="ld_sy_circle2"></span></li>
                        <li>查看我的新增好友信息</li>
                    </ul>
                    <div class="ld_sy_num ld_sy_numactive">02</div>
                </div>
                <div class="ld_shuyou">
                    <div class="ld_sy_photo"><img src="images/ld_images/ld_photo01.png" alt="" /></div>
                    <ul class="ld_sy_add">
                        <li class="ld_sy_addtit">新增好友<span></span><span class="ld_sy_circle2"></span></li>
                        <li>查看我的新增好友信息</li>
                    </ul>
                    <div class="ld_sy_num">&gt;</div>
                </div>
                <div class="ld_sy_search">
                    <form action=""><input type="text"/></form>
                    <div class="ld_sy_btn"></div>
                </div>
                <div class="ld_sy_haoyou"><span>当前好友数量为</span><span class="ld_haoyou_num">235</span></div>
                <div class="ld_sy_letter"><span>A.</span><span class="ld_sy_ltnum">34</span></div>
                <div class="ld_friend_di">
                    <div class="ld_friend">
                        <div class="ld_friend_photo"><div class="ld_friend_inner"><img src="images/ld_images/ld_qz_photo.png" height="97" width="109" alt="" /></div></div>
                        <ul class="ld_friend_con">
                            <li class="ld_friend_tit">Aim·<b>Green</b><div class="ld_star"><span></span><span></span><span></span></div><i class="ld_vip">vip</i></li>
                            <li>撸啊撸啊德玛西亚</li>
                            <li class="ld_friend_zs"><i></i><b>TAIYUAN</b>SHANXI</li>
                        </ul>
                        <div class="ld_firend_rig ld_firend_huise"></div>
                    </div>
                    <ul class="ld_shuzi">
                        <li class="ld_shuzi_active">a</li>
                        <li>b</li>
                        <li>s</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                        <li>a</li>
                    </ul>
                </div>
            </div>               
        </div>
        <!-- 社会圈子下面内容结束 -->
    <!-- 社区圈子结束 -->
    </div>