/*轮播*/
    .sy_pluul_box{
    	width: 7.02rem;height: 1.8rem;
    	margin: 0 auto;
    	display: flex;
    	justify-content:space-between;
    	flex-wrap:wrap;
    	overflow: hidden;
    	position: relative;
    }
    .sy_pluul_box .swiper-wrapper{
        width:100%;
    }
    /* .sy_pluul_box .sy_pluul{
        width: 100%;height: 1.54rem;
         background:blue;
        display: flex;
        justify-content:space-around;
        position: absolute;
        left: 0;top: 0;
        overflow: hidden;
    } */
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 0;
    }
    .swiper-pagination-bullet{
        width: 0.15rem;height: 0.15rem;
        background: #FDD809;
        border-radius: 50%;
        opacity: 1;
    }
    .swiper-pagination-bullet-active{
        width: 0.30rem;height: 0.15rem;
        background: #FDD809;
        border-radius: 0.15rem;
    }
/*最新动态*/
    .sy_news{
    	width: 7.02rem;height: auto;
    	margin: 0.3rem auto;
    }
    .sy_fcaption{
    	width: 100%;height: 0.9rem;
    }
    .sy_sy-bt{
        width:100%;
        position:relative;
    }
    .sy_sy-bty{
        color:#4b4c4c;
        font-size: .24rem;
        text-transform: uppercase;
    }
    .sy_su-div{
        height: 0.5rem;
    }
    .sy_su-btt{
        width:.6rem;
        height:.5rem;
        float: left;
    }
    .sy_sy-bth{
        height: .5rem;
        color:#333;
        font-size: .34rem;
        margin-left: 0.03rem;
        line-height: .5rem;
        display: block;
        float: left;
    }
    
    .sy_news_content{
    	width: 100%;height: auto;
    	overflow: hidden;
    	margin-top: 0.2rem;
    }
    .sy_news_left{
    	width: 0.8rem;height: auto;
    	float: left;
    }
    .sy_left_list{
    	width: 0.77rem;height: 0.77rem;
    	margin: 0 0.02rem 0.34rem 0.02rem;
    	border-radius: 50%;
    }
    .sy_left_list:nth-child(1){
        background: url(../../images/sy_images/sy_own1.png) no-repeat center/cover;
    }
    .sy_left_list:nth-child(2){
        background: url(../../images/sy_images/sy_zan1.png) no-repeat center/cover;
    }
    .sy_left_list:nth-child(3){
        background: url(../../images/sy_images/sy_collect1.png) no-repeat center/cover;
    }
    .sy_left_list:nth-child(1).active{
        background: url(../../images/sy_images/sy_own.png) no-repeat center/cover;
    }
    .sy_left_list:nth-child(2).active{
        background: url(../../images/sy_images/sy_zan.png) no-repeat center/cover;
    }
    .sy_left_list:nth-child(3).active{
        background: url(../../images/sy_images/sy_collect.png) no-repeat center/cover;
    }
  /*右边*/
    .sy_news_right{
    	margin-left: 0.1rem;
    	width: 6.12rem;height: auto;
    	float: left;
    }
    .sy_right_title p{
    	font-size: 0.36rem;
    }
  /*内容*/
    .sy_right_box{
    	margin-top: 0.1rem;
    	width: 100%;height: auto;
    	border: 0.02rem solid #fff;
    	box-sizing:border-box;
    	overflow: hidden;
    }
    .sy_right_img{
    	width: 100%;height: auto;
        overflow: hidden;
    }
    .sy_right_img img{
        width: 100%;
    }
    .sy_right_content{
    	width: 100%;height: auto;
    	padding: 0.05rem 0.1rem;
    	box-sizing:border-box;
    }
    .sy_right_box h2{
    	font-size: 0.3rem;
    	color:#333;
    }
    .sy_right_box p{
    	color:#999;
    }
  /*收藏*/
    .sy_fshare{
    	width: 2.1rem;height: 0.52rem;
    	float: right;
    	margin: 0.1rem;
    }
    .ld_dizhi_rig{
        float:right;
        width:2.1rem;height:100%;
    }
    .ld_dizhi_rig li{
        float:left;
        width:50%;height:100%;
    }
    .ld_dizhi_rig span{
        float:right;
        display: block;
        width:.37rem;height:.37rem;
        margin-right:.08rem;
    }
    .ld_dizhi_icon1{
        background:url(../../images/ld_images/ld_icon02.png) center center no-repeat;
        background-size:100%;
    }
    .ld_dizhi_icon2{
        background:url(../../images/ld_images/ld_icon01.png) center center no-repeat;
        background-size:100%;
    }
    .ld_dizhi_num{
        float:right;
        height:100%;
        line-height: .52rem;
        font-size:.24rem;
        color:#5a5a59;
    }