/*会员中心外框开始*/
	.yhp_member_box{
		width: 100%;
		height: auto;
		margin: 0 auto;
		background: #EAEAEA;
	}
	
/*会员中心头部开始*/
	.yhp_member_up{
		width: 7.50rem;
		height: 0.90rem;
		margin: 0 auto;
		background: #fff;
		padding-left: 0.24rem;
		padding-right: 0.11rem;
		box-sizing:border-box;
	}
	.yhp_member_up:after{
		content: "";
		display: block;
		clear: both;
	}
	.yhp_member_up button{
		border: none;
		outline: none;
	}
	.yhp_member_back{
		width: 0.90rem;
		height: 0.90rem;
		background:url(../../../images/yhp_images/yhp_backbtn.png) no-repeat left center;
		background-size: 0.63rem 0.49rem;
		float: left;
	}
	.yhp_member_title{
		width: 5.22rem;
		height: 0.90rem;
		float: left;
	}
	.yhp_member_title p{
		text-align: center;
		padding: 0;
	}
	.yhp_member_titleup{
		color: #484747;
		height: 0.40rem;
		line-height: 0.40rem;
		font-size: 0.3634rem;
		margin-top: 0.10rem;
	}
	.yhp_member_titlebot{
		color: #8d8a8b;
		font-size: 0.2086rem;
		height: 0.20rem;
		line-height: 0.20rem;
	}
	.yhp_member_finish{
		width: 0.90rem;
		height: 0.90rem;
		line-height: 0.90rem;
		background: #fff;
		float: right;
		color: #8d8a8b;
		font-size: 0.3634rem;
	}
/*会员中心头部结束*/

/*会员中心主体开始*/
	.yhp_member_inner{
		width: 7.50rem;
		height: auto;
		margin: 0 auto;
		margin-top:0.20rem;
	}
/*头像开始*/
	.yhp_member_innerup{
		width: auto;
		height: 2.33rem;
		display: flex;
		align-items:center;
		margin-left: 0.24rem;
	}
	.yhp_innerup_bg{
		background: url(../../../images/sy_images/sy_person.png) no-repeat center;
		width: 2.35rem;
		height: 1.97rem;
		background-size: 2.35rem 1.97rem;
		text-align: center;
		padding-top: 0.20rem;
		padding-left: 0.08rem;
		box-sizing:border-box;
		margin-right: 0.24rem;
	}
	.yhp_member_innerup img{
		border-radius: 50%;
		width: 1.45rem;
		height: 1.45rem;
	}
	.yhp_innerup_text{
		width: 60%;
		height: 100%;
	}
	.yhp_innerup_textup{
		display: flex;
		height: 0.60rem;
		align-items:center;
		margin-top: 0.16rem;
		margin-bottom: 0.03rem;
	}
	.yhp_innerup_textup .yhp_innerup_icon{
		display: block;
		width: 0.52rem;
		height: 0.22rem;
		background: #F61D50;
		border-radius: 0.60rem;
		border:0.02rem solid #fff;
		color: #fff;
		font-size: 0.16rem;
		text-align: center;
		margin-right: 0.14rem;
	}
	.yhp_innerup_xf{
		color: #494949;
		font-size: 0.24rem;
	}
	.yhp_innerup_textname{
		width: auto;
		height: 0.60rem;
		font-size: 0.50rem;
		color: #7C7B7B;
	}
	.yhp_innerup_textname span{
		color: #7C7B7B;
		font-size: 0.50rem;
		font-weight: bolder;
	}
/*头像结束*/


	.yhp_member_innercen{
		width: 100%;
		height: auto;
		background: #fff;
		padding-left: 0.24rem;
		box-sizing:border-box;
	}
	.yhp_innercen_innerup{
		width: 100%;
		height: 2.33rem;
		display: flex;
		align-items:center;
	}
	.yhp_innercen_bg{
		width: 2.05rem;
		height: 2.05rem;
		border-radius: 50%;
		background: #00479D url(../../../images/yhp_images/yhp_member.png) no-repeat center;
		background-size: 2.05rem 2.05rem;
		border:0.02rem solid #003574;
		margin-right: 0.34rem;
	}
	.yhp_innercen_text{
		width: 60%;
		height: 100%;
	}
	.yhp_innercen_textup{
		display: flex;
		height: 0.60rem;
		align-items:flex-end;
		margin-top: 0.16rem;
		margin-bottom: 0.03rem;
		font-size: 0.30rem;
		color: #4d4d4d;
	}
	.yhp_innercen_textup i{
		display: block;
		width: 0.05rem;
		height: 0.05rem;
		border-radius: 50%;
	}
	.yhp_innercen_icon1{
		background: #FE0E68;
		margin-left: 0.15rem;
	}
	.yhp_innercen_icon2{
		background: #FCA113;
		margin: 0 0.05rem;
	}
	.yhp_innercen_icon3{
		background: #5DFE0E;
	}
	.yhp_innercen_texten{
		width: auto;
		height: 0.60rem;
		font-size: 0.18rem;
		color: #868484;
		letter-spacing: -0.01rem;
		font-weight: bold;
	}
	.yhp_innercen_textcn{
		color: #868484;
		font-size: 0.24rem;
		margin-bottom: 0.20rem;
	}


	.yhp_member_innercen button{
		width: 6.89rem;
		height: 1.18rem;
		text-align: center;
		color: #fff;
		font-size: 0.30rem;
		letter-spacing: 0.08rem;
		border:none;
	}
	.yhp_member_hy{
		margin-top: 0.44rem;
		background: #509EFF;
		margin-bottom: 0.33rem;
	}
	.yhp_member_cjhy{
		background: #F8605F;
		margin-bottom: 0.33rem;
	}
	.yhp_member_textword{
		width: 7.02rem;
		line-height: 0.44rem;
		color: #737373;
		letter-spacing: 0.02rem;
	}
	.yhp_member_textword1{
		width: 7.02rem;
		line-height: 0.44rem;
		color: #737373;
		letter-spacing: 0.02rem;
		padding-bottom: 0.50rem;
	}
/*会员中心主体结束*/

/*会员中心外框结束