*{
    box-sizing: border-box;
}
a{color: #333;}
img{vertical-align: middle;}

 
body,html{width:7.5rem;height: 100%;overflow: hidden;}
.zlf_dl_wk{
    width:7.5rem;height: 100%;
    position: relative;
    background: #eaeaea;
}
.zlf_dl_back{
    position:absolute;
    width:.63rem;height:.49rem;
    top: .24rem;left: .24rem;
}
.mjh-dl-todl{
    position:absolute;
    top: .3rem;right: .24rem;
    font-size:.3rem;
}
.zlf_dl_bg1{
    position:absolute;
    width:5.04rem;height:1.85rem;
    top: .15rem;left: 50%;
    margin-left: -2.52rem;
}
.zlf_dl_bg2{
    position:absolute;
    width:5.04rem;height:2rem;
    bottom:.24rem;left: 50%;
    margin-left: -2.55rem;
}
/*03 兴趣选择*/
.zlf_xq_box {
    width:7rem;
    height:9rem;
    padding:0  .2rem;
    border-radius: 0.05rem;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 0.5rem 0.866rem 5rem 0rem rgb( 193, 192, 192 );
    position:absolute;
    top:2rem;
    left:.25rem;
}
.zlf_num {
   color: green;
   font-size:.9rem; 
   font-weight: bold;
   background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#2975ff), to(#29ff51));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   float:left;
}
.zlf_choose{
    float:left;
    margin:.2rem 0 .6rem .2rem;
}
.zlf_choose_c{
   font-size: .36rem;
   color: rgb( 62, 61, 61 );
   font-weight: bold;
}
.zlf_choose_e {
   font-size: .2rem;
   font-family: "San Francisco Display";
   color: rgb( 142, 142, 142 );
}
.zlf_xq_box ul{
    width:5.6rem;
    height:.3rem;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
}
.zlf_quan{
    width:.3rem;
    height:.3rem;
    border-radius: 50%;
    border:3px solid #464545;
    /*background:url(../../../images/zlf_images/zlf_zc_10.png) center center;*/
}
.zlf_quan.active{border-color: transparent;}
.zlf_quan.active img{
    width:.54rem;
    height:.36rem;
    margin:-.1rem 0 0 -.08rem;
}
.zlf_xian{
    width:2.05rem;
    height:0.01rem;
    border:1px solid #6b6b6b;
    margin-top:.135rem;
}
/*性别选择*/
.zlf_xb{
  color: rgb( 142, 142, 142 );
  margin:.5rem 0 .8rem 0;
}
.zlf_people_choose{
    width:100%;
    display:flex;
    justify-content: space-around;
}
.zlf_man{
    width:1.8rem;
    height:2.3rem;
    text-align:center;
}
.zlf_man>img{
    width:1.8rem;
    height:2.1rem;
}
.zlf_man p input{
    width:.3rem;
    height:.3rem;
    margin: .2rem 0 0 0rem;
}
.zlf_man p span{
  font-size: .30rem;
  color: rgb( 91, 90, 90 );
}
.zlf_btn_box{
    width:4.18rem;
    height:.9rem;
    background:#278ef7;
    border-radius:.5rem;
    margin:1.3rem 0 .7rem 1.2rem;
}
.zlf_btn_box a>img{
    width:4.18rem;
    height:.9rem;
}
/*喜欢的作者*/
.zlf_like_author{
    width:1.4rem;
}
.zlf_author_img{
    width:1.4rem;
    height:1.4rem;
    border-radius:50%;
    overflow:hidden;
}
.zlf_author_img img{
    width:1.4rem;
    height:1.4rem;
}
.zlf_like_zz{
    margin:.5rem 0 0.2rem 0;
}
.zlf_author_btn{
    margin:.2rem 0 0rem 1.2rem;
}

/*02 头像选择*/
.zlf_photo{
    width:3.43rem;
    height:2.22rem;
    margin:0.8rem auto;
}
.zlf_photo>img{
    width:3.43rem;
    height:2.22rem;
}
.zlf_btn{
    margin-top:.5rem;
    display:flex;
    justify-content: space-around;
    text-align: center;
    line-height:.8rem;
}
.zlf_btn_item{
    width:2.25rem;
    height:.8rem;
    border-radius: .5rem;
    background:#278ef7;
    color: rgb( 255, 255, 255 );
    font-size: .3rem;
}
.zlf_btn_item1{
    background:#f4f3f3;
    color: rgb( 68, 67, 67 );
    font-size: .3rem;
}


/*01 基本信息*/
.zlf_btn_box1{
     background:#ccc;
}


.mjh-zc-srk{
    width:6.58rem;height:6rem;
    margin:0 auto;
    margin-top: .7rem;
}

.mjh-zc-srk .zlf_btn_box{
    margin:0.5rem auto 0 auto;
}

.mjh-zc-srnk{
    border-radius: 5px;
    border:2px solid rgb( 31, 170, 251 );
    background-color: rgb( 245, 243, 243 );
    height: 1.04rem;width:100%;
/*    display:flex;
    justify-content:space-between ;
    align-items: center;*/
    padding:0.13rem .3rem;
    margin-bottom: .05rem;
}
.mjh-srnk-d1{
    border-radius: 50%;
    background-color: rgb( 31, 170, 251 );
    width: .10rem;
    height: .10rem;
    margin:0.32rem .1rem;
    float:left;
}
.mjh-srnk-d2{
  border-radius: 50%;
  background-color: rgb( 31, 170, 251 );
  width: .13rem;
  height: .13rem;
  margin:0.29rem .1rem;
  float:left;
}
.mjh-srnk-d3{
    width:1rem;
    font-size: .3rem;
    color:#5e5d5d;
    margin-right: .25rem;
    line-height: .74rem;
    float:left;
}
.mjh-srnk-d4{
    width:2.5rem;height:.74rem;
    font-size:.3rem ;color:#808080;
    float:left;
    outline: 0;
    background:transparent;
    border:0;
}
.mjh-srnk-d5{
    width:.74rem;height:.74rem;
    float:right;
}
.mjh-zc-cwts{
  font-size: .24rem;
  color: rgb( 254, 19, 91 );
  font-weight: bold;
  position: absolute;
  left: .6rem;
  top: 1.95rem;
}
.mjh-zc-srnk.active{
    border:2px solid rgb(254, 19, 91  );
}
.mjh-zc-srnk.active .mjh-srnk-d1,.mjh-zc-srnk.active .mjh-srnk-d2{
    background:rgb(254, 19, 91  );
}